body{
    background-color: rgb(51, 51, 51);
    display: flex;
    justify-content: center;   
    align-items: center;
}

.logo{
    height: 10vw;
    width: 30vw; 
    align-items: center;
}

h1{
    text-align: center;
    color: white;
    align-items: center;
}
h2{
    text-align: center;
    color: white;
    align-items: center;
}


.menu
{
    height: 10vw;
    width: 10vw;
}