body{
    background-color: rgb(51, 51, 51);
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";
    grid-template-rows: 350px 250px 1fr 1fr;
    grid-template-columns: auto auto auto ;
    grid-gap: 10px;
    height: 100vh;
    margin: 0;
    
}

#head {
    grid-area: header;
   
}
#foot {
    grid-area: footer;

}
#main { 
    grid-area: main;

}
#nav { 
    grid-area: nav; 
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;

}

p{
    text-align: center;
    color: white;
}

.logo{
    height: 10vw;
    width: 30vw; 
}

h1{
    text-align: center;
    color: white;
 
}
h2{
    text-align: center;
    color: white;
   
}

.menu{
    height: 10vw;
    width: 10vw; 
}

div{
    text-align: center;

}

table, tr, td{
    color: white;
    padding: 10px;
    text-align: center;
    
}

a{
    color: orange;
    text-decoration: none;
}

.szakNberek{
    height: 15vw;
    width: 10vw;
}